/* KANBOARD PLUGIN - CSS FILE */

:root {
    --pp-blue: #007AC9;
    --pp-blue-alt: #00ADFF;
    --pp-red: #B71234;
    --pp-red-alt: #DA004C;
    --pp-red-alt-2: #AE003D;
    --pp-black: #000000;
    --pp-light-grey: #8F8F8F;
    --pp-grey: #4D4D4D;
    --pp-white: #FFFFFF;
    --pp-green: #2EA02E;
    --pp-green-dark: #055D20;
    --pp-orange: #FF6500;
    --blue-icon-dark: #034CA6;
    --button-blue-gradient: linear-gradient(to bottom, #7892c2 80%, #476e9e 100%);
    --blue-border-gradient-match: #476E9E;
    --button-background-delete: #D05C84;
    --link-color-primary: #36C;
    --header-page-margin-app-branding: 5px 15px 10px 15px;
    --page-margin-app-branding: 0px 15px 0px 15px;
    --title-margin-app-branding: 0px 15px 0px 15px;
    --border-radius-app-branding: 5px;
    --border-radius-app-branding-alt: 3px;
    --panel-background-app-branding: #EEEEEE;
    --transition-app-branding: ease-in-out all .3s;
}

.pp-blue { color: var(--pp-blue); fill: var(--pp-blue); }
.pp-blue-alt { color: var(--pp-blue-alt); fill: var(--pp-blue-alt); }
.pp-red { color: var(--pp-red); fill: var(--pp-red); }
.pp-red-alt { color: var(--pp-red-alt); fill: var(--pp-red-alt); }
.pp-red-alt-2 { color: var(--pp-red-alt-2); fill: var(--pp-red-alt-2); }
.pp-black { color: var(--pp-black); fill: var(--pp-black); }
.pp-light-grey { color: var(--pp-light-grey); fill: var(--pp-light-grey); }
.pp-grey { color: var(--pp-grey); fill: var(--pp-grey); }
.pp-white { color: var(--pp-white); fill: var(--pp-white); }
.pp-green { color: var(--pp-green); fill: var(--pp-green); }
.pp-dark-green { color: var(--pp-green-dark); fill: var(--pp-green-dark); }
.pp-orange { color: var(--pp-orange); fill: var(--pp-orange); }

/*
a, details, summary, i, img, table, tr, svg, figure, button {
    transition: var(--transition-app-metadata);
}
*/

/*
a:hover { color: var(--pp-red-alt-2) !important; }
*/

.display-none, .d-none { display: none !important; }

.font-weight-bold { font-weight: bold; }

.center, .text-center { text-align: center; }

.relative { position: relative; }

.no-top {margin-top: 0;}

.no-bottom {margin-bottom: 0;}

#AppBrandingSettings h3 {
    font-weight: 600;
}

.app-branding-settings h3 {
    margin-top: 0;
}

.app-branding-settings h3 > img {
    vertical-align: bottom;
}

.app-rename .form-help {
    display: inline-block;
    margin-left: 5px;
}


.ws-logo {
    display: block;
    margin: 1.5em auto 2.5em auto;
    width: 100px;
}

footer.copyright {
    font-size: .8em;
    background-color: #ffffff96;
    letter-spacing: 1px;
    padding: 3px;
    text-align: center;
    position: fixed;
    height: 18px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

section.login-logo {
    margin-bottom: 30px;
}

.login-title {
    text-align: center;
    font-weight: bold;
    text-transform: full-width;
    font-size: 1.8em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.login-area .form-login, .password-area .reset-form {
    margin: 1em auto;
    padding: 1em;
    border: 1px solid var(--pp-white);
    border-radius: var(--border-radius-app-branding);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.78);
    box-sizing: content-box;
}

.form-login .warning, .reset-form .warning {
    font-weight: bold;
    color: var(--pp-red-alt-2);
    text-align: center;
    margin-bottom: 15px;
}

.reset-password {
    margin-bottom: 10px;
    margin-top: 10px;
    width: auto;
    float: left;
}

a.reset-password-link {
    display: block;
    text-align: right;
    color: var(--pp-grey);
}

.reset-password-link svg {
    vertical-align: text-bottom;
    width: 18px;
    margin-right: 3px;
}

kbd.user-remote-ip {
    display: block;
    width: fit-content;
    margin: auto;
    padding: .6em .3em 0 0.3em
    font-size: .8em;
    font-weight: 400;
    border-radius: var(--border-radius-kbcss);
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: initial;
    background-color: initial;
}

.user-icon {
    width: 20px;
    vertical-align: text-bottom;
    margin-right: 5px;
}

.form-reset .user-icon {
    width: 20px;
    vertical-align: text-bottom;
    margin-right: 5px;
    margin-left: 5px;
}

.password-icon {
    width: 24px;
    vertical-align: middle;
    margin-right: 2px;
    margin-top: -3px;
}

.login-icon {
    width: 26px;
    vertical-align: text-top;
}

button.login-btn {
    border-radius: var(--border-radius-app-branding-alt);
    background-color: white;
    color: var(--pp-green-dark);
    border: 2px outset var(--pp-green-dark);
    float: right;
}

button.btn-reset-password {
    border-radius: var(--border-radius-app-branding-alt);
    background-color: white;
    color: var(--pp-green-dark);
    border: 2px outset var(--pp-green-dark);
    float: right;
    font-size: 1em;
    padding: 4px;
}

.back-btn, a.back-btn:visited {
    border-radius: var(--border-radius-app-branding-alt);
    border: 1px solid var(--pp-grey);
    color: var(--pp-grey);
    font-size: 1em;
    padding: 5px;
}

.back-btn svg {
    vertical-align: bottom;
}

input#form-username, input#form-password {
    width: 250px;
    padding-left: 15px;
    border: 0;
    border-radius: 0;
    height: 31px;
}

.required-wrapper {
    border: 2px inset var(--pp-red-alt-2);
    height: 30px;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 3px;
    padding-right: 0;
    padding-left: 5px;
    border-radius: var(--border-radius-app-branding-alt);
    background-color: var(--pp-white);
}

.required-wrapper .form-required, .required-wrapper-captcha .form-required {
    display: none;
}

.required-wrapper-captcha {
    border: 2px inset var(--pp-red-alt-2);
    height: 30px;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 3px;
    padding-right: 0;
    padding-left: 0;
    border-radius: 4px;
}

#form-login_message {
    width: 100%;
    height: 50%;
}

textarea.login-message-textarea {
    background: #D8E2F9;
}

textarea.login-message-textarea::placeholder {
    color: #4D4D4D;
}

form.login-form .form-actions {
    padding-top: 0;
    margin-bottom: 60px;
}

form.form-reset .form-actions {
    padding-top: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-area .captcha-img, .password-area .captcha-img {
    display: inline-block;
    vertical-align: middle;
    border-radius: var(--border-radius-app-branding);
    height: 37px;
}

.required-wrapper-captcha > input.captcha-input {
    height: 30px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    padding-right: 4px;
    border: 0;
    border-radius: var(--border-radius-app-branding-alt);
    padding-bottom: 1px;
}

.reset-form h2.reset-title {
    margin-top: 0;
    margin-bottom: 10px;
}

form.form-reset .required-wrapper {
    padding-left: 0;
    background-color: var(--pp-white);
}

.reset-title .reset-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    opacity: .8;
}

.btn-reset-password svg {
    vertical-align: text-top;
    fill: var(--pp-green-dark);
}

.reset-message {
    margin-top: 30px;
}
}
